@import "_fonts.scss";

/*
 * Colors
 */
$city-white: #ebebeb;
$city-grey: #8c8c8c;
$city-black: #111111;
$city-orange: #fa7416;
$city-purple: #a9328a;
$city-green: #36c269;
$city-blue: #0c71fa;
$city-gold: #fcc32c;
$city-politics-red: #d02d3c;
$city-politics-blue: #214da5;

.color-dem {
  color: $city-politics-blue;
}

.color-rep {
  color: $city-politics-red;
}

// Material UI Overrides:

.MuiSlider-track {
  color: $city-politics-red;
}

.MuiSlider-rail {
  color: $city-politics-blue;
  opacity: 1;
}

.MuiSlider-thumb {
  color: $city-grey;
}

@for $i from 1 through 100 {
  .slider-position-#{$i} .MuiSlider-rail {
    background: linear-gradient(
      180deg,
      $city-politics-blue (100 - $i) * 1%,
      black (100 - $i) * 1%
    );
    opacity: 1;
  }
}
