@import "_fonts.scss";

$city-white: #ebebeb;
$city-grey: #8c8c8c;
$city-black: #111111;
$city-orange: #fa7416;
$city-purple: #a9328a;
$city-green: #36c269;
$city-blue: #0c71fa;
$city-gold: #fcc32c;
$city-politics-red: #d02d3c;
$city-politics-blue: #214da5;

// Default App Theme:

$default-font: "Sharp Grotesk", Helvetica, sans-serif;

.app {
  font-family: $default-font;
  padding: 1rem;
  background-color: #ebebeb;

  // TEXT:

  .title {
    font: 900 1.375rem $default-font;
    color: #000;
  }

  .description {
    font: 400 0.875rem $default-font;
    color: #333;
  }

  .small-text {
    font: 200 0.635rem $default-font;
    color: #000;
  }

  .label {
    font: 400 0.75rem $default-font;
    color: #666;
  }

  .annotation {
    font-size: 200 0.75rem $default-font;
    color: #333;
  }

  // COLORS:

  .color-dem {
    color: $city-politics-blue;
  }

  .color-rep {
    color: $city-politics-red;
  }
}

// Material UI Overrides:

// Remove special label on selector:
.MuiInputBase-formControl fieldset legend {
  display: none;
}

.past-election-selector {
  margin-left: 0.25rem;
  transform: translateY(-0.25rem);
  .MuiSelect-select {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
  }
}

li.MuiMenuItem-root {
  font: 400 0.875rem $default-font;
  color: #333;
}

@mixin slider($type) {
  .MuiSlider-thumb {
    border-radius: 5%;
    height: 5px;
    width: 40px;
    color: $city-grey;
  }

  .MuiSlider-track {
    width: 15px;
    border: none;

    @if $type == dem {
      color: $city-politics-red;
    } @else {
      color: $city-politics-blue;
    }
  }

  .MuiSlider-rail {
    width: 15px;
    opacity: 1;

    @if $type == dem {
      color: $city-politics-blue;
    } @else {
      color: $city-politics-red;
    }
  }
}

.dem-slider {
  @include slider(dem);
}

.rep-slider {
  @include slider(rep);
}

@for $i from 1 through 100 {
  .slider-position-#{$i} {
    &.dem-slider .MuiSlider-rail {
      background: linear-gradient(
        180deg,
        $city-politics-blue (100 - $i) * 1%,
        $city-grey (100 - $i) * 1%
      );
    }

    &.rep-slider .MuiSlider-rail {
      background: linear-gradient(
        180deg,
        $city-politics-red (100 - $i) * 1%,
        $city-grey (100 - $i) * 1%
      );
    }
  }
}
